/* @font-face{
    font-family: 'Darling';
    src: url("../fonts//Poppins.ttf") format('truetype');
}

@font-face{
    font-family: 'Mulish-Bold';
    src: url("../fonts//Mulish-Bold.ttf") format('truetype');
} */

@font-face{
    font-family: 'Mulish';
    src: url("../fonts/Mulish-Regular.ttf") format('truetype');
}

@font-face{
    font-family: 'Mulish-Bold';
    src: url("../fonts/Mulish-Bold.ttf") format('truetype');
}

@font-face{
    font-family: 'Schabo';
    src: url("../fonts/schabo.woff") format('truetype');
}